:host {
	display: block;
}
:host([hidden]) {
	display: none;
}
div.formBody {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1ex 1em;
	margin-bottom: 1ex;
	min-width: 35em;
}
div.form_multi_warn {
	display: grid;
	grid-template-columns: 1fr auto;
}
img.warn {
	height: 1em;
	width: 1em;
	float: right;
	place-self: center;
	display: none;
}
div.tags {
	display: grid;
	grid-gap: .5em;
}
div.tag_input {
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr auto;
	grid-auto-flow: column;
	grid-gap: .5em;
}
.tag_x {
	max-width: 1em;
	max-height: 1em;
	display: inline;
}
button.tag_remove {
	margin-right: .5em;
	margin-top: .5em;
	flex: 0 0 auto;
}
.tag_holder {
	/* NOTE: This is a hack */
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
}
