#stage {
	margin-top: 1em;
}
#groups {

}
div.unsorted {
	position: absolute;
	left: 0;
	bottom: 0;
}
#unsorted {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: .5em;
	margin: 0;
	/* border-top: 0; */
	/* background: purple; */
}
#unsorted > elements-projects3-project-display {
	height: 100%;
	min-width: 10em;
}
div.topbar {
	width: 100%;
	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;

}
body {
	/* background: green; */
}
#test {
	position: absolute;
	top: 900px;
	left: 500px;
}
