#titleBox {
	display: flex;
	justify-content: center;
}
#pageTitle {}
#pageDesc {
	margin-left: 1em;
}
.pageDesc {
	font-size: small;
}
div.flex-column, div.flex-row {
	display: flex;
}
div.flex-column {
	flex-direction: column;
}
.row-first {
	flex-grow: initial;
	width: initial;
}
.row-last {
	/* flex-grow: initial; */
	/* width: initial; */
}
div.flex-row {
	margin-bottom: 1em;
}
div.multi {
	display: flex;
}
:host {
	--font-size: large;
}
#pseudoBody {
	font-size: var(--font-size);
	padding: 1em;
	box-sizing: border-box;
}
div.statusBox {
	grid-row-gap: .5em;
	grid-column-gap: 2em;
	grid-template-areas: 'a b' 'c d' /*'e f' 'g h' 'i j' 'k l'*/;
	grid-auto-flow: row;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: max-content;
	/* padding: .25em; */
}
#statusBoxes {
	padding: 1em;
}
.gridMember {
	box-sizing: border-box;
}
div.split {
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	grid-template-areas: 'a b';
	grid-auto-flow: row;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1em;
}
#progressMulti {
	display: none;
}

#progressDiv {
	align-items: center;
}
.shift {
	padding: 0em 1em;
}
input[type=checkbox] {
	height: 1em;
	width: 1em;
}
#AnsProgress {
	margin-right: 1em;
}
#cancel, #accept {
	margin: 1em 1em 1em 0;
}
#acceptDiv {
	height: 100%;
}
#editDiv {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
}
#titleStack {
	position: relative;
}
button.plusminus, #projectProgressValue, #AnsProgressAmount {
	margin-left: 1em;
}

button.plusminus {
	min-width: 1em;
}
#projectRequiredDecrease {
	margin-left: initial;
}
#projectDesc {
	width: 100%;
	min-height: 10em;
}
