:host {
	position:  absolute;
	--position: fixed;
}
#pseudoBody {
	top: var(--top);
	left: var(--left);
	width: auto;
	background: rgba(255,255,255,0.66);
	border: 2px  solid rgba(0,0,0,0.5);
	border-radius: 4px;
	padding: 8px;
	position: var(--position);
	contain: content; 
}
