div.down {
	margin-left: var(--left-shift);
	margin-top: var(--margins);
}
div.flex {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
}
button {
	font-size: calc(var(--arrow-size) * 1em);
	border-radius: 5px;
	border: 2px solid darkblue;
}
:host {
	--arrow-size: 3;
	--left-shift: 10%;
	--margins: 0px;
}
#pseudoBody {
	contain: content;
	margin-bottom: var(--margins);
}
