#pseudoBody {
	--button-margin: 1em;
}
#title {
	border-bottom: 1px solid black;
}
div.tab {
	width: 100%;
	font-size: medium;
}
textarea {
	width: 100%;
	min-height: 10em;
}
button {
	margin-right: var(--button-margin);
}
#export {
	display: none;
}
#close {
	margin-right: auto;
}
p.inline {
	margin-right: var(--button-margin);
}
input[type=file] {
	flex-grow: 1;
	text-shadow: 0 0 black;
	width: 50%;
}
#multiInput {
	align-items: center;
	font-size: var(--font-size);
}
#footer {
	flex-direction: row-reverse;
}
button.footer {
	margin-right: 0px;
	margin-left: var(--button-margin);
}
img.warning {
	height: 100%;
	width: 1em;
}
#invalidImport {
	/*display: none;*/
	flex-grow: 1;
}
