#footer {
	padding-top: 10px;
}
elements-drag-down.danger {
	--left-shift: 0px;
	--arrow-size: 1.5;
}
#line {
	height: 2px;
	margin: 0px 20px;
	background: black;
}
#lineContain {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	position: absolute;
}
div.dangerContain {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: absolute;
}
div.dangerLine {
	width: 100%;
	position: relative;
}
p.textOverlay {
	background: white;
	padding: 0px 10px;
}
#insideDrag {
	--padding: 10px 10px 0px 10px;
}
#Cancel {
	margin-right: 2em;
}
#kerbalDiv {
	position: relative;
}
#deleted {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(150,150,150,.5);
	display: none;
}
button.delete {
	flex-grow: 1;
	width: 100%;
	display: none;
}
#DeleteKerbal1 {
	display: block;
}
#pseudoBody {
	background: initial;
}
