#main {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	background: white;
	font-size: large;
	margin-bottom: 1em;
}
button {
	font-size: large;
	float: right;
	margin-left: .5em;
}
:host {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: -10;
}
div.option {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
div.fill {
	display: flex;
	flex-grow: 1;
	flex-direction: row-reverse;
}
#pseudoBody {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#sentinel {
	height: 10px;
	visibility: visible;
	z-index: -200;
	background: blue;
	position: absolute;
	margin-right: 50px;
}
