p {
	margin: 5px 0px;
	border-radius: 5px;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	overflow: hidden;
	text-overflow: ellipsis;
}
#overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0px;
	left: 0px;
}
#pseudoBody {
	position: relative;
}
:host {
	contain: content;
}
elements-drag-down {
	--arrow-size: 2;
}
