elements-grid {
	width: 100%;
	--width: auto;
}
:host {
	--width: 100%;
}
#pseudoBody {
	background: initial;
	--expand: 300px;
}
elements-kerbal-searcher-kerbal {
	--results-height: var(--expand);
}
#currentKerbals {
	max-height: var(--expand);
	overflow-y: scroll;
	border: 1px solid grey;
}
div.centre {
	display: flex;
	align-items: center;
	justify-content: center;
}
