input[type=checkbox] {
	width: 1em;
	height: 1em;
}
p {
	margin-top: 10px;
}
#jobs {
	display: flex;
	flex-direction: column;
	flex-grow: 5;
	width: 100%;
}
p.inline {
	margin-right: 10px;
	margin-top: 0px;
}
div.indent {
	margin-left: 20px;
}
p.job {
	border-radius: 5px;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0px;
	flex-grow: 1;
}
#jobs {
	font-size: initial;
	align-items: center;
	justify-content: center;
	justify-items: center;
	box-sizing: border-box;
	padding-left: 3em;
	padding-right: 1ex;
}
div.results {
	margin-bottom: 5px;
	flex-shrink: 0;
}
button.remove_place {
	font-size: initial;
}
