:host {
	--results-height: 500px;
}
#pseudoBody {
	background: initial;
}
/* Checkboxes love to float up a couple pixels */
div.multi {
	align-items: center;
}
span.checkbox {
	margin-left: .5em;
}
div.results {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin-bottom: 5px;
	flex-shrink: 0;
}
elements-kerbal {
	width:100%;
}
button.results {
	margin-left: 1em;
}
#results {
	display: flex;
	flex-direction: column;
	flex-grow: 5;
	width: 100%;
	overflow: scroll;
	max-height: var(--results-height);
	display: none;
}
#resultsTitle {
	font-size: x-large;
	margin: 10px;
}
