#faviconImg {
	height: var(--HeaderHeight);
	width: var(--HeaderHeight);
	grid-area: favicon;
}
#titleSpan {
	font-size: calc(var(--HeaderHeight) * .8);
	text-overflow: clip;
	color: initial;
	overflow: hidden;
	grid-area: title;
	width: calc(100%);
	/* 1ex Prevents text overflow when the padding is small */
}
#contentDiv {
	display: grid;
	grid-template-columns: [c0] 1fr [c1] 4fr [c2];
	grid-template-rows: [r0] 1fr [r1] 3fr [r2];
	grid-template-areas: "favicon title"
	                     "image image";
	grid-auto-flow: row;
	grid-row-gap: var(--RowGap);
	grid-column-gap: var(--ColGap);
	max-height: 100%;
	width: 100%;
	box-sizing: border-box;
}
#pseudoBody {
	overflow: hidden;
	max-width: var(--width);
	max-height: calc(var(--width) + 2 * var(--Margin));
	--HeaderHeight: calc((var(--width) - 2 * var(--Margin)) / 130 * 20);
	@apply
	--border-mixin;
	padding: var(--Margin);
	background-color: var(--background-color);
	--Margin: 17px;
	box-sizing: border-box;
}
:host {
	--RowGap: 10px;
	--ColGap: 10px;
	--Margin: 5px;
	--width: 130px;
	--height: calc(var(--width) + 2 * var(--Margin));
	--background-color: white;
	--border-mixin: {
		border-width: 1px;
		border-style: solid;
		border-radius: 5px;
		border-color: black;
	};
}
#CardLink {
	text-decoration: none;
}
#thumbImg {
	width: 100%;
	height: 100%;
	background-size: 100%;
	grid-area: image;
	/* -  var(--RowGap)*/
	/*background: turquoise;*/
}
