#pseudoBody {
	min-width: 35em;
}
.spacer {
	margin-right: .5em;
	margin-left: .5em;
}
input[type=checkbox] {
	height: 100%;
}
#back {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 100%;
	background: blue;
}
#form {
	contain: content;
}
