div.panel_test {
	width: 20em;
	background: green;
}
button[name='options'] {
	position: absolute;
	right: 100%;
}
#options_pane {
	position: absolute;
	right: 0;
}
div.panel_body {
	width: 20em;
	height: 20ex;
	background: yellow;
}
div.panel_title {
	background: brown;
	margin: 0;
	padding: 0;
	display: flex;
}
span.arrows {
	transform: rotate(-90deg);
	transition-property: transform;
	transition-duration: calc(var(--animation_duration_long)*1ms);
}
elements-animation-sidepanel[toggled='true'] span.arrows {
	transform: rotate(90deg);
}
