div.multi {
	flex-direction: row;
	align-items: center;
	display: flex;
}
div.fill {
	width: 100%;
}
#title {
	margin-bottom: 5px;
	position: relative;
}
:host {
	/*--width: 650px;*/
	--font-size: large;
}
#pseudoBody {
	width: var(--width);
	font-size: var(--font-size);
	contain: content;
}
button, input, select {
	font-size: var(--font-size);
	/* border: 1px solid black;
	border-radius: 3px; */
}
#Close {
	float: right;
	/* margin-right: .5em; */
	/* background-color: white; */
}
div.slot {
	display: none;
}
#tabLine {
	width: 100%;
	height: 2px;
	bottom: 0px;
	z-index: -200;
	background: var(--elements-theme-border-color, black);
	position: absolute;
}
