#titleBox {
	display: flex;
	justify-content: center;
}
#edit {
	margin: 1em 1em 1em 0;
	min-width: 7ex;
}
#editDiv {
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
}
#titleStack {
	position: relative;
}
#editorRotate {
	transform: translate(0px, 50%) rotateX(-90deg)
}
