:host {
	--width: 100%;
	--font-size: large;
}
#pseudoBody {
	width: var(--width);
	background: rgba(255,255,255,.66);
	font-size: var(--font-size);
}
p {
	margin-top: 0px;
	margin-bottom: 0px;
}
input, select {
	width: 100%;
}
button, input, select {
	font-size: var(--font-size);
}
div.multi {
	display: flex;
}
elements-grid {
	--border-width: 0px;
	--width: 100%;
	--grid-gap: 1em;
}
select, button, input{
	background-color: #f6f6f6;
	border: 1px solid black;
	border-radius: 3px;
}
#editBody {
	font-size: var(--font-size);
}
.spacer {
	margin-left: .5em;
}
.warn {
	height: 1em;
	width: 1em;
	float: right;
	margin-right: 1ex;
}
div.right, #footer {
	display: flex;
	justify-content: flex-end;
}
#footer {
	padding-right: 5px;
}
#Cancel {
	margin-right: 2em;
}
div.flex-column, div.flex-row {
	display: flex;
}
div.flex-column {
	flex-direction: column;
}
.row-first {
	flex-grow: 2;
	width: 40%;
}
.row-last {
	flex-grow: 3;
	width: 60%;
}
div.flex-row {
	margin-bottom: 1em;
}
.stacked {
	position: absolute;
	height: 100%;
	width: 100%;
}
.stack_base {
	position: relative;
}
