.tabs {
	display: inline-flex;
	border-left: var(--elements-theme-input-border, 1px solid black);
}
button.tab {
	border: var(--elements-theme-input-border, 1px solid black);
	float: left;
	border-radius: 0px;
	border-left: 0px;
	background-color: var(--elements-theme-bg, ButtonFace);
	font-size: var(--size);
}
:host {
	--size: initial;
	font-size: var(--size);
}
button.tab:active, button.tab-selected {
	border-bottom: 0px;
	background-color: var(--elements-theme-bg, Canvas);
}
