<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel='preload' href='../elements/backbone4.js' as='script'></link>
		<link rel='modulepreload' href='../elements/elements_core.js'></link>
		<link rel='modulepreload' href='../elements/elements_backbone.js'></link>
		<link rel='modulepreload' href='../elements/elements_helper.js'></link>
		<link rel='preload' href='../elements/elements_manifest.json' as='fetch' crossorigin="use-credentials"></link>
		<link rel="icon" href="../icon.png">
	</head>
	<body>

	</body>
	<script src='../elements/backbone4.js'></script>
</html>
