#pseudoBody {
	border: 1px solid var(--elements-theme-border-color, revert);
	padding: .25em;
	width: 32ex;
	background-color: var(--elements-theme-bg, white);
}
hr {
	margin: .25em;
}
#title {
	font-size: small;
	width: 100%;
}
#body {
	font-size: x-small;
}
#buttons {
	display: flex;
	flex-basis: space-between;
	justify-content: flex-end;
}
button.notification_button {
	border-radius: .25em;
	border: var(--elements-theme-input-border, 1px solid var(--elements-theme-border, black));
	color: var(--elements-theme-fg, black);
	margin: 0 .25em;
	padding-top: .25ex;
	padding-bottom: .25ex;
}
div.spacer {
	margin: 0;
	padding: 0;
	height: .25em;
}
button.close {
	border: 1px solid black;
	border-radius: .2em;
}
div.split {
	display: flex;
}
#title_sidepane {
	margin-left: .25em;
}
:host {
	display: block;
}
:host([hidden]) {
        display: none;
}
