:host {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding: .5em 1em;
	width: 100%;
	box-sizing: border-box;
}
:host([hidden]) {
        display: none;
}
:host {
	width: 100%;
	transition-property: transform, padding-bottom;
	transition-duration: .3s;
}
:host(:hover) {
	transform: translate(0, 0) !important;
	padding-bottom: 1em;
}
